@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Montserrat', sans-serif;
}

.hero-bg-image {
    background: url("https://images.unsplash.com/photo-1565932887479-b18108f07ffd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat center center / cover;
    background-attachment: fixed;
    height: 600px;
}
